<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to " â® Back to list", articles_path %>

<%= link_to " ðŸ–‹ Edit this article", edit_article_path %>

<%= link_to " ðŸ§½ Delete article",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
